.grid {
    max-width: 100%;
    display: block;
    padding: 0;
}

.grid-width {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 12px;
    padding-right: 12px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

/* Mobile */
@media (max-width: 740px) {
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }

    .col {
        padding-left: 4px;
        padding-right: 4px;
    }

    .m-col-0 {
        display: none;
    }

    .m-col-1 {
        flex: 0 0 calc(1 / 12 * 100%);
        max-width: calc(1 / 12 * 100%);
    }

    .m-col-2 {
        flex: 0 0 calc(2 / 12 * 100%);
        max-width: calc(2 / 12 * 100%);
    }

    .m-col-2-4 {
        flex: 0 0 calc(2.4 / 12 * 100%);
        max-width: calc(2.4 / 12 * 100%);
    }

    .m-col-3 {
        flex: 0 0 calc(3 / 12 * 100%);
        max-width: calc(3 / 12 * 100%);
    }

    .m-col-4 {
        flex: 0 0 calc(4 / 12 * 100%);
        max-width: calc(4 / 12 * 100%);
    }

    .m-col-5 {
        flex: 0 0 calc(5 / 12 * 100%);
        max-width: calc(5 / 12 * 100%);
    }

    .m-col-6 {
        flex: 0 0 calc(6 / 12 * 100%);
        max-width: calc(6 / 12 * 100%);
    }

    .m-col-7 {
        flex: 0 0 calc(7 / 12 * 100%);
        max-width: calc(7 / 12 * 100%);
    }

    .m-col-8 {
        flex: 0 0 calc(8 / 12 * 100%);
        max-width: calc(8 / 12 * 100%);
    }

    .m-col-9 {
        flex: 0 0 calc(9 / 12 * 100%);
        max-width: calc(9 / 12 * 100%);
    }

    .m-col-10 {
        flex: 0 0 calc(10 / 12 * 100%);
        max-width: calc(10 / 12 * 100%);
    }

    .m-col-11 {
        flex: 0 0 calc(11 / 12 * 100%);
        max-width: calc(11 / 12 * 100%);
    }

    .m-col-12 {
        flex: 0 0 calc(12 / 12 * 100%);
        max-width: calc(12 / 12 * 100%);
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .grid-width {
        width: 644px;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .t-col-0 {
        display: none;
    }

    .t-col-1 {
        flex: 0 0 calc(1 / 12 * 100%);
        max-width: calc(1 / 12 * 100%);
    }

    .t-col-2 {
        flex: 0 0 calc(2 / 12 * 100%);
        max-width: calc(2 / 12 * 100%);
    }

    .t-col-2-4 {
        flex: 0 0 calc(2.4 / 12 * 100%);
        max-width: calc(2.4 / 12 * 100%);
    }

    .t-col-3 {
        flex: 0 0 calc(3 / 12 * 100%);
        max-width: calc(3 / 12 * 100%);
    }

    .t-col-4 {
        flex: 0 0 calc(4 / 12 * 100%);
        max-width: calc(4 / 12 * 100%);
    }

    .t-col-5 {
        flex: 0 0 calc(5 / 12 * 100%);
        max-width: calc(5 / 12 * 100%);
    }

    .t-col-6 {
        flex: 0 0 calc(6 / 12 * 100%);
        max-width: calc(6 / 12 * 100%);
    }

    .t-col-7 {
        flex: 0 0 calc(7 / 12 * 100%);
        max-width: calc(7 / 12 * 100%);
    }

    .t-col-8 {
        flex: 0 0 calc(8 / 12 * 100%);
        max-width: calc(8 / 12 * 100%);
    }

    .t-col-9 {
        flex: 0 0 calc(9 / 12 * 100%);
        max-width: calc(9 / 12 * 100%);
    }

    .t-col-10 {
        flex: 0 0 calc(10 / 12 * 100%);
        max-width: calc(10 / 12 * 100%);
    }

    .t-col-11 {
        flex: 0 0 calc(11 / 12 * 100%);
        max-width: calc(11 / 12 * 100%);
    }

    .t-col-12 {
        flex: 0 0 calc(12 / 12 * 100%);
        max-width: calc(12 / 12 * 100%);
    }
}

/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .grid-width {
        width: 984px;
    }
}

/* PC */
@media (min-width: 1024px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.gutters-5px {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.gutters-5px .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .p-col-0 {
        display: none;
    }

    .p-col-1 {
        flex: 0 0 calc(1 / 12 * 100%);
        max-width: calc(1 / 12 * 100%);
    }

    .p-col-2 {
        flex: 0 0 calc(2 / 12 * 100%);
        max-width: calc(2 / 12 * 100%);
    }

    .p-col-2-4 {
        flex: 0 0 calc(2.4 / 12 * 100%);
        max-width: calc(2.4 / 12 * 100%);
    }

    .p-col-3 {
        flex: 0 0 calc(3 / 12 * 100%);
        max-width: calc(3 / 12 * 100%);
    }

    .p-col-4 {
        flex: 0 0 calc(4 / 12 * 100%);
        max-width: calc(4 / 12 * 100%);
    }

    .p-col-5 {
        flex: 0 0 calc(5 / 12 * 100%);
        max-width: calc(5 / 12 * 100%);
    }

    .p-col-6 {
        flex: 0 0 calc(6 / 12 * 100%);
        max-width: calc(6 / 12 * 100%);
    }

    .p-col-7 {
        flex: 0 0 calc(7 / 12 * 100%);
        max-width: calc(7 / 12 * 100%);
    }

    .p-col-8 {
        flex: 0 0 calc(8 / 12 * 100%);
        max-width: calc(8 / 12 * 100%);
    }

    .p-col-9 {
        flex: 0 0 calc(9 / 12 * 100%);
        max-width: calc(9 / 12 * 100%);
    }

    .p-col-10 {
        flex: 0 0 calc(10 / 12 * 100%);
        max-width: calc(10 / 12 * 100%);
    }

    .p-col-11 {
        flex: 0 0 calc(11 / 12 * 100%);
        max-width: calc(11 / 12 * 100%);
    }

    .p-col-12 {
        flex: 0 0 calc(12 / 12 * 100%);
        max-width: calc(12 / 12 * 100%);
    }
}